# Pyspark

In [2]:
# Must be included at the beginning of each new notebook.
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('GlobalTerrorism').getOrCreate()

# Importing Dataset

In [3]:
df1 = spark.read.csv('Dataset_2.csv', header=True, inferSchema=True)
df2 = spark.read.csv('Dataset_1.csv', header=True, inferSchema=True)
df1.show()
df2.show()

+-----+------+-----+-------+-----------+------+--------------------+-----------------+----------+-----+-----+-----+-------+-----------+--------------------+---------+--------------------+-------+-----------------+--------------------+----------+---------+-------------+--------------------+-----+---------+------+
|iyear|imonth|idate|country|country_txt|region|          region_txt|        provstate|      city|crit1|crit2|crit3|success|attacktype1|     attacktype1_txt|targtype1|       targtype1_txt|natlty1|      natlty1_txt|               gname|individual|weaptype1|weaptype1_txt|          weapdetail|nkill|ishostkid|ransom|
+-----+------+-----+-------+-----------+------+--------------------+-----------------+----------+-----+-----+-----+-------+-----------+--------------------+---------+--------------------+-------+-----------------+--------------------+----------+---------+-------------+--------------------+-----+---------+------+
| 2000|     1|    1|    139|    Namibia|    11|  Sub-Saharan Africa|          Kavango|  Muitjiku|    1|    1|    1|      1|          2|       Armed Assault|        1|            Business|    139|          Namibia|National Union fo...|         0|        5|     Firearms|                null|    0|        0|  null|
| 2000|     1|    1|    139|    Namibia|    11|  Sub-Saharan Africa|          Kavango|  Muitjiku|    1|    1|    1|      1|          6|Hostage Taking (K...|        1|            Business|    139|          Namibia|National Union fo...|         0|        5|     Firearms|                null|    0|        1|     0|
| 2000|     1|    1|     92|      India|     6|          South Asia|Jammu and Kashmir|  Udhampur|    1|    1|    1|      1|          2|       Armed Assault|        3|              Police|     92|            India|Lashkar-e-Taiba (...|         0|        5|     Firearms|A sniper rifle wa...|    1|        0|  null|
| 2000|     1|    1|   1003|     Kosovo|     9|      Eastern Europe|Kosovo (Province)|      Peje|    1|    1|    1|      1|          3|   Bombing/Explosion|       14|Private Citizens ...|    103|       Kazakhstan|             Unknown|         0|        6|   Explosives|                null|    0|        0|  null|
| 2000|     1|    1|    182|    Somalia|    11|  Sub-Saharan Africa|         Banaadir| Mogadishu|    1|    0|    1|      1|          2|       Armed Assault|       14|Private Citizens ...|    182|          Somalia|             Unknown|         0|        5|     Firearms|                null|    6|        0|  null|
| 2000|     1|    1|     19| Bangladesh|     6|          South Asia|       Chittagong|Chittagong|    1|    1|    1|      1|          2|       Armed Assault|       14|Private Citizens ...|     19|       Bangladesh|             Unknown|         0|        6|   Explosives|Unknown gun types...| null|        0|  null|
| 2000|     1|    1|     92|      India|     6|          South Asia|            Assam|Kakotibari|    1|    1|    1|      1|          3|   Bombing/Explosion|       21|           Utilities|     92|            India|United Liberation...|         0|        6|   Explosives|                null|    0|        0|  null|
| 2000|     1|    1|   1003|     Kosovo|     9|      Eastern Europe|Kosovo (Province)| Gorazhdec|    1|    1|    1|      0|          2|       Armed Assault|       14|Private Citizens ...|    175|Serbia-Montenegro|             Unknown|         0|        5|     Firearms|                null|    0|        0|  null|
| 2000|     1|    1|    209|     Turkey|    10|Middle East & Nor...|         Istanbul|  Istanbul|    1|    1|    1|      1|          3|   Bombing/Explosion|        1|            Business|    209|           Turkey|             Unknown|         0|        6|   Explosives|                null|    0|        0|  null|
| 2000|     1|    1|    185|      Spain|     8|      Western Europe|   Basque Country| Galdacano|    1|    1|    1|      1|          2|       Armed Assault|        4|            Military|    185|            Spain|             Unknown|         0|        8|   Incendiary|36 petrol bombs w...|    0|        0|  null|
| 2000|     1|    1|    185|      Spain|     8|      Western Europe|   Basque Country|  Guernica|    1|    1|    1|      1|          2|       Armed Assault|        1|            Business|    185|            Spain|             Unknown|         0|        8|   Incendiary|Petrol bombs were...|    0|        0|  null|
| 2000|     1|    1|     19| Bangladesh|     6|          South Asia|       Chittagong|Chittagong|    1|    1|    1|      1|          2|       Armed Assault|       14|Private Citizens ...|     19|       Bangladesh|             Unknown|         0|        6|   Explosives|Unknown gun types...| null|        0|  null|
| 2000|     1|    1|     19| Bangladesh|     6|          South Asia|       Chittagong|Chittagong|    1|    1|    1|      1|          3|   Bombing/Explosion|       14|Private Citizens ...|     19|       Bangladesh|             Unknown|         0|        6|   Explosives|Nine bombs, inclu...| null|        0|  null|
| 2000|     1|    1|     19| Bangladesh|     6|          South Asia|       Chittagong|Chittagong|    1|    1|    1|      1|          3|   Bombing/Explosion|       22|Violent Political...|     19|       Bangladesh|             Unknown|         0|        6|   Explosives|                null| null|        0|  null|
| 2000|     1|    1|     19| Bangladesh|     6|          South Asia|       Chittagong|Chittagong|    1|    1|    1|      1|          3|   Bombing/Explosion|       14|Private Citizens ...|     19|       Bangladesh|             Unknown|         0|        8|   Incendiary|                null| null|        0|  null|
| 2000|     1|    1|     19| Bangladesh|     6|          South Asia|       Chittagong|Chittagong|    1|    1|    1|      1|          2|       Armed Assault|        3|              Police|     19|       Bangladesh|             Unknown|         0|        6|   Explosives|                null|    0|        0|  null|
| 2000|     1|    1|     19| Bangladesh|     6|          South Asia|       Chittagong|Chittagong|    1|    1|    1|      1|          3|   Bombing/Explosion|        2|Government (General)|     19|       Bangladesh|             Unknown|         0|        6|   Explosives|                null| null|        0|  null|
| 2000|     1|    1|     19| Bangladesh|     6|          South Asia|       Chittagong|Chittagong|    1|    1|    1|      1|          2|       Armed Assault|        3|              Police|     19|       Bangladesh|             Unknown|         0|        6|   Explosives|Bricks were throw...|    0|        0|  null|
| 2000|     1|    1|     19| Bangladesh|     6|          South Asia|       Chittagong|Chittagong|    1|    1|    1|      1|          2|       Armed Assault|        2|Government (General)|     19|       Bangladesh|             Unknown|         0|        5|     Firearms|                null|    0|        0|  null|
| 2000|     1|    1|     19| Bangladesh|     6|          South Asia|       Chittagong|Chittagong|    1|    1|    1|      1|          3|   Bombing/Explosion|       14|Private Citizens ...|     19|       Bangladesh|             Unknown|         0|        6|   Explosives|                null| null|        0|  null|
+-----+------+-----+-------+-----------+------+--------------------+-----------------+----------+-----+-----+-----+-------+-----------+--------------------+---------+--------------------+-------+-----------------+--------------------+----------+---------+-------------+--------------------+-----+---------+------+
only showing top 20 rows

+-----+------+-----+-------+--------------------+------+--------------------+--------------------+------------------+-----+-----+-----+-------+-----------+--------------------+---------+--------------------+-------+--------------------+--------------------+----------+---------+-------------+--------------------+-----+---------+------+
|iyear|imonth|idate|country|         country_txt|region|          region_txt|           provstate|              city|crit1|crit2|crit3|success|attacktype1|     attacktype1_txt|targtype1|       targtype1_txt|natlty1|         natlty1_txt|               gname|individual|weaptype1|weaptype1_txt|          weapdetail|nkill|ishostkid|ransom|
+-----+------+-----+-------+--------------------+------+--------------------+--------------------+------------------+-----+-----+-----+-------+-----------+--------------------+---------+--------------------+-------+--------------------+--------------------+----------+---------+-------------+--------------------+-----+---------+------+
| 2007|     1|    1|    155|West Bank and Gaz...|    10|Middle East & Nor...|          Gaza Strip|           Unknown|    1|    1|    1|      1|          6|Hostage Taking (K...|       10| Journalists & Media|    159|                Peru|             Unknown|         0|        5|     Firearms|                null|    0|        1|     0|
| 2007|     1|    1|    205|            Thailand|     5|      Southeast Asia|Bangkok ( District )|           Bangkok|    1|    1|    1|      1|          3|   Bombing/Explosion|       14|Private Citizens ...|    205|            Thailand|             Unknown|         0|        6|   Explosives|                null|    3|        0|  null|
| 2007|     1|    1|    186|           Sri Lanka|     6|          South Asia|            Northern|            Jaffna|    1|    1|    0|      1|          3|   Bombing/Explosion|        4|            Military|    186|           Sri Lanka|Liberation Tigers...|         0|        6|   Explosives|      Claymore mines|    1|        0|  null|
| 2007|     1|    1|      4|         Afghanistan|     6|          South Asia|           Nangarhar|            Behsud|    1|    1|    1|      1|          7|Facility/Infrastr...|        8|Educational Insti...|      4|         Afghanistan|             Taliban|         0|        8|   Incendiary|                null|    0|        0|  null|
| 2007|     1|    1|    153|            Pakistan|     6|          South Asia|         Balochistan|        Dera Bugti|    1|    1|    1|      1|          3|   Bombing/Explosion|       21|           Utilities|    153|            Pakistan|Baloch Liberation...|         0|        6|   Explosives|Suspects planted ...|    0|        0|  null|
| 2007|     1|    1|      4|         Afghanistan|     6|          South Asia|               Herat|             Herat|    1|    1|    1|      1|          3|   Bombing/Explosion|        3|              Police|      4|         Afghanistan|             Taliban|         0|        6|   Explosives|                null|    2|        0|  null|
| 2007|     1|    1|    195|               Sudan|    11|  Sub-Saharan Africa|   Eastern Equatoria|             Magwi|    1|    1|    1|      1|          9|             Unknown|       14|Private Citizens ...|    195|               Sudan|Lord's Resistance...|         0|       13|      Unknown|                null|   13|        0|  null|
| 2007|     1|    1|    155|West Bank and Gaz...|    10|Middle East & Nor...|          Gaza Strip|              Gaza|    1|    0|    1|      1|          6|Hostage Taking (K...|        2|Government (General)|    155|West Bank and Gaz...|Hamas (Islamic Re...|         0|        5|     Firearms|                null|    0|        1|     0|
| 2007|     1|    1|    205|            Thailand|     5|      Southeast Asia|Chaing Mai (Provi...|        Chaing Mai|    1|    1|    1|      1|          3|   Bombing/Explosion|       15|Religious Figures...|    205|            Thailand|             Unknown|         0|        6|   Explosives|                null|    0|        0|  null|
| 2007|     1|    1|    186|           Sri Lanka|     6|          South Asia|            Northern|       Cheddikulam|    1|    1|    1|      1|          3|   Bombing/Explosion|        3|              Police|    186|           Sri Lanka|Liberation Tigers...|         0|        6|   Explosives|       Claymore mine|    2|        0|  null|
| 2007|     1|    3|    155|West Bank and Gaz...|    10|Middle East & Nor...|          Gaza Strip|        Khan Yunis|    1|    0|    1|      1|          2|       Armed Assault|        2|Government (General)|    155|West Bank and Gaz...|Hamas (Islamic Re...|         0|        5|     Firearms|                null|    5|        0|  null|
| 2007|     1|    3|    208|             Tunisia|    10|Middle East & Nor...|     Nabuel (Region)|          Sulayman|    1|    1|    1|      0|          2|       Armed Assault|        3|              Police|    208|             Tunisia|             Unknown|         0|        5|     Firearms|                null|   14|        0|  null|
| 2007|     1|    4|      4|         Afghanistan|     6|          South Asia|               Kunar|         Ghaziabad|    1|    1|    1|      1|          3|   Bombing/Explosion|        8|Educational Insti...|      4|         Afghanistan|             Unknown|         0|        6|   Explosives|                null|    0|        0|  null|
| 2007|     1|    4|     95|                Iraq|    10|Middle East & Nor...|             Baghdad|           Baghdad|    1|    1|    1|      1|          3|   Bombing/Explosion|       14|Private Citizens ...|     95|                Iraq|             Unknown|         0|        6|   Explosives|                null|   13|        0|  null|
| 2007|     1|    5|    160|         Philippines|     5|      Southeast Asia|         Maguindanao|     Cotabato City|    1|    1|    1|      1|          3|   Bombing/Explosion|        1|            Business|    160|         Philippines|Moro Islamic Libe...|         0|        6|   Explosives|The bombs were ma...|    0|        0|  null|
| 2007|     1|    5|    186|           Sri Lanka|     6|          South Asia|             Western|        Nittambuwa|    1|    1|    1|      1|          3|   Bombing/Explosion|       19|      Transportation|    186|           Sri Lanka|Liberation Tigers...|         0|        6|   Explosives|Bomb was two-kilo...|    5|        0|  null|
| 2007|     1|    5|    147|             Nigeria|    11|  Sub-Saharan Africa|              Rivers|Rumauakunde Emouha|    1|    1|    1|      1|          6|Hostage Taking (K...|        1|            Business|     44|               China|             Unknown|         0|        5|     Firearms|                null|    0|        1|     0|
| 2007|     1|    5|     92|               India|     6|          South Asia|               Assam|            Sadiya|    1|    1|    1|      1|          2|       Armed Assault|       14|Private Citizens ...|     92|               India|United Liberation...|         0|        5|     Firearms|                null|   48|        0|  null|
| 2007|     1|    5|     95|                Iraq|    10|Middle East & Nor...|               Basra|             Basra|    1|    1|    1|      1|          6|Hostage Taking (K...|        1|            Business|    217|       United States|             Unknown|         0|        5|     Firearms|                null|    3|        1|     0|
| 2007|     1|    5|    155|West Bank and Gaz...|    10|Middle East & Nor...|          Gaza Strip|           Unknown|    1|    1|    1|      1|          2|       Armed Assault|       15|Religious Figures...|    155|West Bank and Gaz...|             Unknown|         0|        5|     Firearms|                null|    1|        0|  null|
+-----+------+-----+-------+--------------------+------+--------------------+--------------------+------------------+-----+-----+-----+-------+-----------+--------------------+---------+--------------------+-------+--------------------+--------------------+----------+---------+-------------+--------------------+-----+---------+------+
only showing top 20 rows

# Size of Dataframe 1

In [4]:
len(df1.columns)

27

In [5]:
df1.count()

12273

# Size of Dataframe 2

In [6]:
len(df2.columns)

27

In [7]:
df2.count()

99583

# Merging two datasets

In [8]:
terrorismdf = df1.unionAll(df2)

In [9]:
len(terrorismdf.columns)

27

In [10]:
terrorismdf.count()

111856

# First row of dataframe 1

In [11]:
df1.head()
for item in df1.head():
    print(item)

2000
1
1
139
Namibia
11
Sub-Saharan Africa
Kavango
Muitjiku
1
1
1
1
2
Armed Assault
1
Business
139
Namibia
National Union for the Total Independence of Angola (UNITA)
0
5
Firearms
None
0
0
None

# First row of dataframe 2

In [12]:
df2.head()
for item in df2.head():
    print(item)

2007
1
1
155
West Bank and Gaza Strip
10
Middle East & North Africa
Gaza Strip
Unknown
1
1
1
1
6
Hostage Taking (Kidnapping)
10
Journalists & Media
159
Peru
Unknown
0
5
Firearms
None
0
1
0

# First row of Merged dataframe

In [13]:
terrorismdf.head()
for item in terrorismdf.head():
    print(item)

2000
1
1
139
Namibia
11
Sub-Saharan Africa
Kavango
Muitjiku
1
1
1
1
2
Armed Assault
1
Business
139
Namibia
National Union for the Total Independence of Angola (UNITA)
0
5
Firearms
None
0
0
None

# Schema

In [14]:
#idea of what the data looks like
terrorismdf.printSchema()

root
 |-- iyear: integer (nullable = true)
 |-- imonth: integer (nullable = true)
 |-- idate: integer (nullable = true)
 |-- country: integer (nullable = true)
 |-- country_txt: string (nullable = true)
 |-- region: integer (nullable = true)
 |-- region_txt: string (nullable = true)
 |-- provstate: string (nullable = true)
 |-- city: string (nullable = true)
 |-- crit1: integer (nullable = true)
 |-- crit2: integer (nullable = true)
 |-- crit3: integer (nullable = true)
 |-- success: integer (nullable = true)
 |-- attacktype1: integer (nullable = true)
 |-- attacktype1_txt: string (nullable = true)
 |-- targtype1: integer (nullable = true)
 |-- targtype1_txt: string (nullable = true)
 |-- natlty1: integer (nullable = true)
 |-- natlty1_txt: string (nullable = true)
 |-- gname: string (nullable = true)
 |-- individual: integer (nullable = true)
 |-- weaptype1: integer (nullable = true)
 |-- weaptype1_txt: string (nullable = true)
 |-- weapdetail: string (nullable = true)
 |-- nkill: string (nullable = true)
 |-- ishostkid: string (nullable = true)
 |-- ransom: string (nullable = true)

In [17]:
terrorismdf.columns

['iyear',
 'imonth',
 'idate',
 'country',
 'country_txt',
 'region',
 'region_txt',
 'provstate',
 'city',
 'crit1',
 'crit2',
 'crit3',
 'success',
 'attacktype1',
 'attacktype1_txt',
 'targtype1',
 'targtype1_txt',
 'natlty1',
 'natlty1_txt',
 'gname',
 'individual',
 'weaptype1',
 'weaptype1_txt',
 'weapdetail',
 'nkill',
 'ishostkid',
 'ransom']

# Importing libraries for better visualisation of dataframes

In [15]:
# Import the libraries.
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import numpy as np

In [19]:
#importing datasets from pandas for visualisation
df1_pd = pd.read_csv('Dataset_2.csv')
print(df1_pd.shape)
df2_pd = pd.read_csv('Dataset_1.csv')
print(df2_pd.shape)

(12273, 27)
(99583, 27)

In [21]:
#appending the two datasets
terrorismdf_pd = df1_pd.append(df2_pd, ignore_index = True)

#printing the number of columns and rows
print(terrorismdf_pd.shape)

#printing the columns name to see how to change the names to relevant names
print(terrorismdf_pd.columns)

(111856, 27)
Index(['iyear', 'imonth', 'idate', 'country', 'country_txt', 'region',
       'region_txt', 'provstate', 'city', 'crit1', 'crit2', 'crit3', 'success',
       'attacktype1', 'attacktype1_txt', 'targtype1', 'targtype1_txt',
       'natlty1', 'natlty1_txt', 'gname', 'individual', 'weaptype1',
       'weaptype1_txt', 'weapdetail', 'nkill', 'ishostkid', 'ransom'],
      dtype='object')

In [22]:
df1_pd.head(2)

,iyear,imonth,idate,country,country_txt,region,region_txt,provstate,city,crit1,...,natlty1,natlty1_txt,gname,individual,weaptype1,weaptype1_txt,weapdetail,nkill,ishostkid,ransom
0,2000,1,1,139,Namibia,11,Sub-Saharan Africa,Kavango,Muitjiku,1,...,139.0,Namibia,National Union for the Total Independence of A...,0,5,Firearms,NaN,0.0,0.0,NaN
1,2000,1,1,139,Namibia,11,Sub-Saharan Africa,Kavango,Muitjiku,1,...,139.0,Namibia,National Union for the Total Independence of A...,0,5,Firearms,NaN,0.0,1.0,0.0

In [23]:
df1_pd.tail(2)

,iyear,imonth,idate,country,country_txt,region,region_txt,provstate,city,crit1,...,natlty1,natlty1_txt,gname,individual,weaptype1,weaptype1_txt,weapdetail,nkill,ishostkid,ransom
12271,2006,12,31,141,Nepal,6,South Asia,Eastern,Khadgapur,1,...,141.0,Nepal,Janatantrik Terai Mukti Morcha- Jwala Singh (J...,0,9,Melee,The attackers first threw rocks at the vehicle...,0.0,0.0,NaN
12272,2006,12,31,141,Nepal,6,South Asia,Central,Sundarpur,1,...,141.0,Nepal,Janatantrik Terai Mukti Morcha (JTMM),0,13,Unknown,NaN,1.0,1.0,0.0

In [24]:
df2_pd.head(2)

,iyear,imonth,idate,country,country_txt,region,region_txt,provstate,city,crit1,...,natlty1,natlty1_txt,gname,individual,weaptype1,weaptype1_txt,weapdetail,nkill,ishostkid,ransom
0,2007,1,1,155,West Bank and Gaza Strip,10,Middle East & North Africa,Gaza Strip,Unknown,1,...,159.0,Peru,Unknown,0,5,Firearms,NaN,0.0,1.0,0.0
1,2007,1,1,205,Thailand,5,Southeast Asia,Bangkok ( District ),Bangkok,1,...,205.0,Thailand,Unknown,0,6,Explosives,NaN,3.0,0.0,NaN

In [25]:
df2_pd.tail(2)

,iyear,imonth,idate,country,country_txt,region,region_txt,provstate,city,crit1,...,natlty1,natlty1_txt,gname,individual,weaptype1,weaptype1_txt,weapdetail,nkill,ishostkid,ransom
99581,2017,12,31,92,India,6,South Asia,Manipur,Imphal,1,...,92.0,India,Unknown,0,6,Explosives,A thrown grenade was used in the attack.,0.0,0.0,NaN
99582,2017,12,31,160,Philippines,5,Southeast Asia,Maguindanao,Cotabato City,1,...,160.0,Philippines,Unknown,0,6,Explosives,An explosive device containing a detonating co...,0.0,0.0,NaN

In [26]:
terrorismdf_pd.head(2)

,iyear,imonth,idate,country,country_txt,region,region_txt,provstate,city,crit1,...,natlty1,natlty1_txt,gname,individual,weaptype1,weaptype1_txt,weapdetail,nkill,ishostkid,ransom
0,2000,1,1,139,Namibia,11,Sub-Saharan Africa,Kavango,Muitjiku,1,...,139.0,Namibia,National Union for the Total Independence of A...,0,5,Firearms,NaN,0.0,0.0,NaN
1,2000,1,1,139,Namibia,11,Sub-Saharan Africa,Kavango,Muitjiku,1,...,139.0,Namibia,National Union for the Total Independence of A...,0,5,Firearms,NaN,0.0,1.0,0.0

In [28]:
terrorismdf_pd.tail(2)

,iyear,imonth,idate,country,country_txt,region,region_txt,provstate,city,crit1,...,natlty1,natlty1_txt,gname,individual,weaptype1,weaptype1_txt,weapdetail,nkill,ishostkid,ransom
111854,2017,12,31,92,India,6,South Asia,Manipur,Imphal,1,...,92.0,India,Unknown,0,6,Explosives,A thrown grenade was used in the attack.,0.0,0.0,NaN
111855,2017,12,31,160,Philippines,5,Southeast Asia,Maguindanao,Cotabato City,1,...,160.0,Philippines,Unknown,0,6,Explosives,An explosive device containing a detonating co...,0.0,0.0,NaN

# Initial Exploration and Visualisation

In [18]:
#finding correlation for country
terrorismdf.corr()["country"]

TypeError: corr() missing 2 required positional arguments: 'col1' and 'col2'